<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4126ee0b-0edf-453d-b2db-d725d1319229/resourcegroups/TopSwagCodeSignalRResourceGroup/providers/Microsoft.Web/sites/TopSwagCodeWebApiIdenIcon20180904095437</ResourceId>
    <ResourceGroup>TopSwagCodeSignalRResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://topswagcodewebapiidenicon20180904095437.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>904b83e0-81f1-4b87-b554-e10ade4031e0</ProjectGuid>
    <MSDeployServiceURL>topswagcodewebapiidenicon20180904095437.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TopSwagCodeWebApiIdenIcon20180904095437</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TopSwagCodeWebApiIdenIcon20180904095437</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>